body {
    font-family: Arial, sans-serif;
    background-color: #095755;
    margin: 0;
    padding: 0;
    color:white;
}

.about-us {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #0b6361;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.rank {
    background-color: #0d7776;
    padding:15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.team-member {
    width: 30%;
    background-color: #921946;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}

.team-member h3 {
    margin-top: 10px;
    font-size: 1.4em;
}

.team-member p {
    font-size: 1em;
}

@media (max-width: 1000px) {
    .team-member {
        width: 45%;
    }
}

@media (max-width: 728px) {
    .team-member {
        width: 100%;
    }
}
